
<h1>This is routing based project</h1>
<h3>Here is Simple Routing</h3>
<!-- <ol>
  <li *ngFor="let user of users">
    {{user.name}} : {{user.age}}
  </li>
</ol> -->
<div class="menu">
  <ul>
    <li><a routerLink="">Home</a></li>
    <li><a routerLink="About">About Us</a></li>
   
    <li><a routerLink="Register">New User</a></li>
  </ul>
</div>







<br/><br/>
<h3>Here is Dimanic Routing</h3>
<div class="menu">
  <ul>
    <li><a routerLink="User/30">anil</a></li>
    <li><a routerLink="User/10">abhay</a></li>
    <li><a routerLink="User/20">suresh</a></li>
  </ul>
</div>

