
<app-header></app-header><br/><br/>
<h4 style="color:blue">Here Display the data uith the help of API</h4>
<table border="1px solid" class="table">
    <tr>
        <th>Id</th>
        <th>Name</th>
        <th>Email</th>
        <th>Age</th>
    </tr>
    <tr *ngFor="let user of datauser">
        <td>{{user.id}}</td>
        <td>{{user.name}}</td>
        <td>{{user.email}}</td>
        <td>{{user.age}}</td>
    </tr>
</table>
<h4 style="color:blue">Registration Form</h4>
    <br/>

    <form #reguser="ngForm" (ngSubmit)="getuserdata(reguser.value)">
        <input type="text" name="name" ngModel placeholder="Enter Your Name.."/><br/>
        <br/>
        <input type="email" name="email" ngModel placeholder="Enter Your Email.."/><br/><br/>
        <input type="password" name="pass" ngModel placeholder="Enter Your Password.."/><br/><br/>
        <input type="text" name="age" ngModel placeholder="Enter Your Age.."/><br/><br/>
        <button>Submit</button>
    </form>


<h4 style="color:blue">Here We Show the user address data</h4>
<table border="1px solid">
    <tr>
        <th>ID</th>
        <th>Street</th>
        <th>City</th>
    </tr>
    <tr *ngFor="let address of dataaddreess">
        <td>{{address.id}}</td>
        <td>{{address.Street}}</td>
        <td>{{address.city}}</td>

        
    </tr>
</table>

<h4 style="color:blue">Add New City</h4>
<form #address="ngForm" (ngSubmit)="getaddress(address.value)">
    <input type="text" name="Street" ngModel placeholder="Enter Street Name.."/><br/>
    <br/>
    <input type="email" name="city" ngModel placeholder="Enter Your city.."/><br/><br/>
    <button>Submit</button>
</form>

<router-outlet></router-outlet>
<app-footer></app-footer>